.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    background-color: transparent;
    color: gray;
    font-size: 0.85rem;
    padding: 0;
    margin-top: 10px;
}

.button:hover {
    color: var(--font-blue);
    cursor: pointer;
}

.wrapper > * {
    margin-bottom: 0;
}