.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.episodeCount {
    margin: 10px;
}

.blueText {
    color: var(--font-blue);
    word-break: break-word;
}

.wrapper {
    overflow-x: auto;
    padding: 10px;
}

.episodes {
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 100%;
}

.episodes th,
.episodes td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.episodes tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.episode td:last-child, .episodes thead th:last-child {
    text-align: right;
}

.episode {
    cursor: pointer;
}

.episode:hover {
    background-color: #f5f5f5;
}