.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.author {
    font-size: 0.8rem;
    font-style: italic;
    margin: 0;
}

.description {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.descriptionText {
    font-style: italic;
}

.link {
    display: flex;
    flex-direction: column;
    width: 100%;

    text-decoration: none;
    color: black;
}

.image {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    align-self: center;
}