.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: right;
}

.filter span {
    flex: 0;
    background-color: var(--font-blue);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3rem;
    padding: 2px 5px;
    border-radius: 10px;
}

.filter input {
    min-width: 30%;
    border: 2px solid var(--border-gray);
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: bold;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    gap: 20px
}

.podcast {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;

    transition: all 0.3s ease;
}

.podcast::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: -1;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 0px var(--border-gray),
               -3px 3px 3px 0px var(--border-gray);

}

.podcast:hover {
    background-image: linear-gradient(to bottom, #ffffff, #f2f1f1);
}

.podcast h3 {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 1.2em;
    max-height: 2.4em;
    color: black
}

.podcast p {
    flex: 1;
    color: #5b5b5b;
    font-weight: bold;
    margin: 10px 0;
}

.podcast img {
    width: 50%;
    border-radius: 50%;
    padding: 10px;
}