.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.card {
    max-width: 325px;
}

.episode {
    flex: 1;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        max-width: 100%;
    }
}